h1 {
  text-align: center;
  background-color: #F8E0AE;
  padding: 40px 0px;
  margin-top: -10px;
}

.aboutSection {
  background-color: #80C18C;
  height: 500px;
  padding-left: 25px;
}
.aboutSection>h4 {
  color:#FFDCA3;
}
.aboutSection>p {
  color:white;
}

.main {
}

body {
  background-color: #E6E6E6;
}
